<h3 class="page-header">Edit Book</h3>
<form action="/books/<%= book.id%>?_method=PUT" method="POST" >    <!--enctype="multipart/form-data"-->  
    <%- include('_form_field.ejs')%>
    <div class="form-row btn-row form-row-end">
        <input class="btn btn-primary" type="submit" value="Update">
        <a class="btn btn-danger" href="/books">Cancel</a>
    </div>
    
</form>