<h2>Edit Authors</h2>
<form action="/authors/<%= author.id%>?_method=PUT" method="POST">
    <%- include('_form_field')%>
    <a href="/authors">Cancel</a>
    <input type="submit" value="Edit">
</form>