<h2 class="page-header">New Authors</h2>
<form action="/authors" method="POST">
    <%- include('_form_field')%>
    <div class="form-row form-row-end btn-row">
        <input class="btn btn-primary" type="submit" value="Create">
        <a class="btn btn-danger" href="/authors">Cancel</a>
    </div>
    
</form>